/* 多页面公用样式 */
.line {
  height: 0.5rem;
  background: #f8f8f8;
}
.icon {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 750px;
}
.bgcolor-f8 {
  background: #f8f8f8;
}
/* 底部备案信息 */
footer .footer-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-link-list a {
  width: 3.65rem;
}
footer p {
  padding-left: 2.5rem;
}
