::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
.bottom-line {
  border-bottom: 0.4rem solid #f7f7f7;
}
