/* 独立样式 */
img {
  height: 100%;
}
.hei-100 {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.color-f85100 {
  color: #f85100;
}
.border-top {
  border-top: 1px solid #f0f0f0;
}
.border-bottom {
  border-bottom: 1px solid #f0f0f0;
}
.bgcolor-gradient {
  color: #fff;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f85100, #fe8645);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f85100, #fe8645);
  /* 标准的语法（必须放在最后） */
}
.bgcolor-gradient-purple {
  color: #fff;
  background: -webkit-linear-gradient(left, #8847fd, #a978ff);
  background: -o-linear-gradient(right, #8847fd, #a978ff);
  background: -moz-linear-gradient(right, #8847fd, #a978ff);
  background: linear-gradient(to right, #8847fd, #a978ff);
}
.container {
  width: 100%;
  height: 100%;
  padding-top: 1.76rem;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.fixed-tab {
  position: fixed;
  top: 1.76rem;
  width: 100%;
  z-index: 2;
}
i.i-icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.64rem;
  width: 0.6rem;
  height: 0.54rem;
  background-image: url('../images/main/icon_search@3x.png');
}
.layer-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.layer-wrap .layer-content {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 11.2rem;
  min-height: 7.32rem;
  border-radius: 0.32rem;
}
.layer-wrap .layer-top {
  position: absolute;
  right: 0;
}
.layer-wrap .tel-layer-top {
  width: 11.2rem;
  height: 3.1rem;
  background: url('../images/main/people@3x.png') no-repeat;
  background-size: 11.2rem 3.1rem;
  top: -1.26rem;
  left: 0;
}
.layer-wrap .article-layer-top {
  width: 11.92rem;
  height: 3.4rem;
  background: url('../images/main/book@3x.png') no-repeat;
  background-size: 100%;
  top: -1.04rem;
}
.layer-wrap .layer-bottom {
  padding-top: 2.56rem;
  text-align: center;
}
.layer-wrap input {
  box-sizing: border-box;
  padding: 0 0.6rem;
  width: 9.84rem;
  height: 1.2rem;
  font-size: 0.48rem;
  color: #999;
  background: #f1f0f0;
  border-radius: 0.7rem;
  overflow: hidden;
}
.layer-wrap p {
  margin: 0.2rem 0 0.28rem;
  padding-left: 0.68rem;
  text-align: left;
  font-size: 0.4rem;
  color: #f85100;
}
.layer-wrap .layer-btn {
  width: 5.3rem;
  height: 2.12rem;
  border-radius: 0.68rem;
}
.layer-wrap .tel-layer-btn {
  background-image: url('../images/main/btn@3x.png');
}
.layer-wrap .article-layer-btn {
  background-image: url('../images/main/btn_fa@3x.png');
}
.layer-wrap .layer-close {
  position: absolute;
  left: 50%;
  bottom: -3.12rem;
  transform: translateX(-50%);
  width: 1.32rem;
  height: 1.32rem;
  background-image: url('../images/main/icon_cancel@3x.png');
}
.itd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.76rem;
}
.itd-header .back-btn {
  width: 2.16rem;
  background-position: 0.8rem 50%;
}
.itd-header h2 {
  width: 60%;
  line-height: 1.76rem;
  font-size: 0.72rem;
  color: #000;
  text-align: center;
}
.itd-header .itd-header-search {
  width: 2.86rem;
  height: 1.76rem;
}
.itd-header .itd-header-search .itd-icon-search {
  display: inline-block;
  width: 2.86rem;
  height: 1.76rem;
  background: url('../images/main/icon_search_big@3x.png') no-repeat center;
  background-size: 1.1rem 1rem;
}
.common-keywords {
  padding: 0 1.12rem;
  margin-bottom: 0.9rem;
}
.common-keywords li,
.common-keywords a {
  float: left;
}
.common-keywords a {
  padding: 0 0.8rem;
  height: 0.76rem;
  line-height: 0.76rem;
  font-size: 0.56rem;
}
.common-layer-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.common-layer-search .back-btn {
  width: 2.16rem;
  background-position: 0.8rem 50%;
}
.common-layer-search header {
  display: flex;
  align-items: center;
  height: 1.76rem;
  border-bottom: 1px solid #f0f0f0;
}
.common-layer-search header h2 {
  width: 72%;
  line-height: 1.76rem;
  font-size: 0.72rem;
  color: #000;
  text-align: center;
}
.common-layer-search .common-input-wrap {
  position: relative;
  box-sizing: border-box;
  width: 13.4rem;
  height: 1.4rem;
  margin: 0.6rem auto 0.34rem;
  padding: 0 0.56rem 0 2.16rem;
  background: #f1f0f0;
  border-radius: 0.7rem;
  overflow: hidden;
}
.common-layer-search .common-input-wrap i.icon-common-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.2rem;
  width: 0.6rem;
  height: 0.54rem;
  background-image: url('../images/main/icon_search@3x.png');
}
.common-layer-search .common-input-wrap input {
  width: 100%;
  height: 1.4rem;
  font-size: 0.52rem;
  color: #999;
  background: #f1f0f0;
}
.common-layer-search .common-layer-search-wrap {
  padding: 0.4rem 0.4rem 1rem 0.8rem;
}
.common-layer-search .common-layer-search-wrap h3 {
  line-height: 0.72rem;
  font-size: 0.68rem;
  font-weight: 700;
  color: #000;
}
.common-layer-search .common-layer-search-wrap .common-shortcut-search {
  padding-top: 0.2rem;
}
.common-layer-search .common-layer-search-wrap .common-shortcut-search li,
.common-layer-search .common-layer-search-wrap .common-shortcut-search a {
  float: left;
}
.common-layer-search .common-layer-search-wrap .common-shortcut-search a {
  display: block;
  width: 3.08rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  margin-top: 0.4rem;
  margin-right: 0.3rem;
  line-height: 1.12rem;
  font-size: 0.56rem;
  color: #666;
  text-align: center;
  background: #f7f7f7;
  border-radius: 0.56rem;
  overflow: hidden;
}
.common-layer-search .common-layer-search-wrap .common-shortcut-search a:active {
  color: #fff;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f85100, #fe8645);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f85100, #fe8645);
  /* 标准的语法（必须放在最后） */
}
.common-find-wrap {
  margin-top: 0.68rem;
  margin-bottom: -0.12rem;
}
.xmxq-main-hide {
  height: 600px!important;
  overflow: hidden;
  width: 100%;
}
.itd-zkgd-wrap {
  text-align: center;
  margin-top: -0.32rem;
  margin-bottom: 0.88rem;
  z-index: 1;
}
.itd-djzk-btn,
.common-find-more {
  display: inline-block;
  width: 3.6rem;
  line-height: 0.88rem;
  font-size: 0.64rem;
  font-weight: 700;
  color: #f85100;
}
.itd-djzk-btn span,
.common-find-more span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itd-djzk-btn img,
.common-find-more img {
  margin-left: 0.32rem;
  display: inline-block;
  width: 0.52rem;
  height: 0.3rem;
}
/* 排行榜聚合页 start */
.top-items-wrap div.top-items-content:nth-child(even) .top-item-all {
  background: -webkit-linear-gradient(left, #fb3043, #fd3e62);
  background: -o-linear-gradient(right, #fb3043, #fd3e62);
  background: -moz-linear-gradient(right, #fb3043, #fd3e62);
  background: linear-gradient(to right, #fb3043, #fd3e62);
}
.top-items-wrap div.top-items-content:nth-child(even) .icon-top-name {
  background-image: url('../images/main/img6@3x.png');
}
.top-items-wrap div.top-items-content:nth-child(even) .top-item-title i {
  background-image: url('../images/main/img8@3x.png');
}
.top-items-content {
  padding: 1rem 0.8rem;
}
.top-items-content .top-item-all {
  position: absolute;
  bottom: 0.52rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3.36rem;
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.56rem;
  text-align: center;
  color: #fff;
  border-radius: 0.48rem;
  z-index: 1;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  background: -o-linear-gradient(right, #f85100, #fe8645);
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  background: linear-gradient(to right, #f85100, #fe8645);
}
.top-item-up {
  width: 100%;
  height: 4.2rem;
  margin-bottom: 0.4rem;
}
.top-item-up .top-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.top-item-up .icon-top-name {
  box-sizing: border-box;
  position: absolute;
  top: 0.68rem;
  left: 0;
  padding: 0 0.56rem 0 0.36rem;
  height: 1.24rem;
  line-height: 1.24rem;
  font-size: 0.72rem;
  font-weight: 700;
  background-image: url('../images/main/img5@3x.png');
  color: #fff;
  letter-spacing: 1px;
}
.top-item-up .icon-top-name span {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1rem;
  font-size: 0.48rem;
}
.top-item-down {
  display: flex;
  justify-content: space-between;
}
.top-item-down a {
  display: block;
  width: 4.2rem;
}
.top-item-down a img {
  width: 4.2rem;
  height: 2.56rem;
  border-radius: 0.12rem;
  overflow: hidden;
}
.top-item-down a .top-item-title {
  margin: 0.4rem 0;
  line-height: 0.6rem;
  font-size: 0.64rem;
  font-weight: 700;
  color: #000;
}
.top-item-down a .top-item-title span {
  display: inline-block;
  max-width: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-item-down a .top-item-title i {
  width: 0.52rem;
  height: 0.6rem;
  vertical-align: top;
  margin-left: 0.4rem;
  background-image: url('../images/main/img7@3x.png');
}
.top-item-down a p {
  line-height: 0.56rem;
  font-size: 0.56rem;
  font-weight: 700;
  color: #666;
}
.top-other .common-find-more {
  width: 100%!important;
  line-height: 2.64rem;
}
.top-other .common-find-more img {
  width: 0.38rem;
  height: 0.66rem;
}
/* 排行榜聚合页 end */
/* 排行榜 start */
.category-wrapper {
  height: 19.4rem;
}
.category-wrapper .menu-category {
  box-sizing: border-box;
  width: 4.12rem;
  height: 19.4rem;
  overflow-y: scroll;
  border-right: 1px solid #f0f0f0;
}
.category-wrapper .menu-category li {
  box-sizing: border-box;
  margin: 0.68rem 0;
  padding: 0.48rem 0.2rem 0.46rem;
  line-height: 0.72rem;
  font-size: 0.64rem;
  color: #333;
  text-align: center;
}
.category-wrapper .menu-category .sidehigh {
  color: #f85100;
  background: url('../images/main/icon-label@3x.png') center left no-repeat;
  background-size: 0.12rem 1.66rem;
}
.category-wrapper .category-list {
  padding-bottom: 0.56rem;
  height: 19.2rem;
  overflow: hidden;
}
.category-wrapper .category-list .food-list {
  height: 19.2rem;
  overflow-y: scroll;
}
.category-wrapper .category-list li {
  float: left;
  margin: 0.6rem 0.7rem 0.32rem;
}
.category-wrapper .category-list li a {
  width: 2.2rem;
  float: left;
}
.category-wrapper .category-list li img {
  width: 2.2rem;
  height: 2rem;
}
.category-wrapper .category-list li p {
  width: 100%;
  line-height: 0.8rem;
  font-size: 0.48rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}
/* 排行榜 end */
/* 搜索结果页 start */
.res-header {
  justify-content: flex-start !important;
}
.res-header form {
  box-sizing: border-box;
  position: relative;
  width: 12.04rem;
  height: 1.2rem;
  padding-left: 1.64rem;
  padding-right: 0.64rem;
  border-radius: 0.7rem;
  background: #f1f0f0;
  overflow: hidden;
}
.res-header form input {
  width: 100%;
  height: 1.2rem;
  font-size: 0.52rem;
  color: #999;
  background: #f1f0f0;
}
.res-brand-wrap {
  padding: 0.4rem 0.8rem;
}
.res-brand-wrap .res-brand-content li {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
}
.res-brand-wrap .res-brand-content li:last-child {
  border-bottom: none!important;
}
.res-brand-wrap .res-brand-content dl {
  width: 10.2rem;
  font-weight: 700;
  height: 2.68rem;
}
.res-brand-wrap .res-brand-content dl dt {
  width: 4rem;
  height: 2.68rem;
}
.res-brand-wrap .res-brand-content dl dd {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 5.8rem;
  height: 2.68rem;
}
.res-brand-wrap .res-brand-content dl .res-brand-name {
  line-height: 0.64rem;
  font-size: 0.6rem;
  color: #333;
}
.res-brand-wrap .res-brand-content dl .res-brand-company {
  line-height: 0.52rem;
  font-size: 0.48rem;
  color: #666;
}
.res-brand-wrap .res-brand-content dl .res-brand-pay {
  font-size: 0.4rem;
  color: #f85100;
}
.res-brand-wrap .res-brand-content dl .res-brand-pay .rmb {
  line-height: 0.72rem;
  font-size: 0.72rem;
}
.res-brand-wrap .res-contact {
  width: 2.6rem;
  padding-bottom: 0.2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.res-brand-wrap .res-contact a {
  width: 2.6rem;
  line-height: 0.96rem;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.48rem;
}
/* 搜索结果页 end */
.msg {
  display: block;
  padding: 0 0.6rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #f85100;
}
.common-form-message {
  width: 13.36rem;
  margin: 0 auto;
  padding: 0.96rem 0 1rem;
}
.common-form-message p {
  line-height: 0.68rem;
  font-size: 0.64rem;
  font-weight: 700;
}
.common-form-message form {
  padding-top: 0.56rem;
}
.common-form-message form .input-wrap {
  width: 100%;
  margin-bottom: 0.1rem;
  font-size: 0.48rem;
  color: #999;
}
.common-form-message .form-input {
  box-sizing: border-box;
  width: 13.36rem;
  height: 1.6rem;
  padding: 0 0.6rem;
  font-size: 0.48rem;
  color: #999;
  background: #f1f0f0;
}
.common-form-message .form-project-name {
  padding-right: 1.72rem;
}
.common-form-message .icon-message-down {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.72rem;
  height: 1.6rem;
  background-image: url('../images/main/icon_down_gray@3x.png');
  background-size: 0.52rem 0.3rem;
}
.common-form-message .submit-btn {
  width: 13.36rem;
  height: 1.88rem;
  font-size: 0.64rem;
  text-align: center;
  border-radius: 1.12rem;
}
.common-form-message .form-express-list {
  margin-top: 0.28rem;
  background: #f1f0f0;
}
.common-form-message .form-express-list li {
  padding: 0.28rem 0.6rem;
}
.common-form-message .form-express-list .choose-right {
  color: #f85100;
}
.common-bread {
  margin: 0.6rem 0.8rem;
  line-height: 0.44rem;
  font-size: 0.44rem;
  color: #666;
}
.common-bread .modiify-time {
  width: 4.68rem;
  font-size: 0.44rem;
  text-align: right;
}
/* 搜索结果页 end */
/* 项目详情页 start */
.itd-tab {
  margin-bottom: 0!important;
}
.itd-industry-news-wrap .i-industry-news-content a:last-child dl {
  border-bottom: none;
}
.itd-online-desc {
  font-size: 0.44rem;
  color: #999;
}
.section-content {
  line-height: 0.92rem !important;
  font-size: 0.6rem !important;
  color: #666!important;
  overflow: hidden;
}
.section-content img {
  margin: 0.64rem 0;
  width: 100%!important;
  height: 8.88rem !important;
  border-radius: 0.12rem !important;
}
.section-content p {
  text-indent: 1.5em;
}
.itd-join-charge {
  font-size: 0.56rem;
  color: #666;
  background: #f7f7f7;
}
.itd-join-charge .itd-tr {
  padding-left: 0.96rem;
  height: 1.68rem;
  line-height: 1.68rem;
}
.itd-join-charge .itd-tr span.charge-title {
  margin-right: 0.88rem;
  font-size: 0.64rem;
  font-weight: 700;
  color: #000;
}
.itd-join-charge .itd-tr span.city-tip {
  width: 3rem;
  height: 0.92rem;
  line-height: 0.92rem;
  border-radius: 0.46rem;
}
.itd-join-charge .itd-tr:nth-child(2) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.itd-more-city {
  margin: 0.6rem auto 0.2rem;
  width: 8.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.6rem;
  border-radius: 0.7rem;
}
.itd-customer-service:last-child {
  margin-bottom: 0!important;
}
.itd-customer-service {
  line-height: 0.9rem;
  font-size: 0.64rem;
  margin-bottom: 0.68rem;
}
.itd-questions {
  margin-top: 0.2rem;
  font-weight: 700;
  color: #000;
}
.itd-questions span {
  margin-right: 0.8rem;
}
.itd-questions .icon-questions {
  background-image: url('../images/main/icon_wen@3x.png');
}
.icon-questions,
.icon-answers {
  vertical-align: middle;
  width: 0.94rem;
  height: 0.74rem;
}
.icon-triangle {
  position: absolute;
  top: -0.96rem;
  left: 0.66rem;
  width: 0;
  height: 0;
  border: 0.48rem solid;
  border-color: transparent transparent #f7f7f7 transparent;
}
.itd-answers {
  position: relative;
  margin-top: 0.56rem;
  padding: 0.6rem;
  color: #999;
  background: #f7f7f7;
  border-radius: 0.12rem;
}
.itd-answers span {
  margin-right: 0.8rem;
}
.itd-answers .icon-answers {
  background-image: url('../images/main/icon_da@3x.png');
}
.itd-news-content li {
  width: 100%;
}
.itd-news-content .itd-item-p {
  line-height: 0.88rem;
  font-size: 0.64rem;
  font-weight: 700;
}
.itd-news-content .itd-online-desc {
  margin-top: 0.2rem;
}
.special-bottom30 {
  padding-bottom: 0.6rem !important;
}
.itd-news-content > li {
  margin-bottom: 0.88rem !important;
}
.itd-news-content > li:last-child {
  margin-bottom: 0!important;
}
.itd-item-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.48rem;
  width: 100%;
}
.itd-item-img li {
  width: 4.2rem;
  height: 2.78rem;
  border-radius: 0.12rem;
  overflow: hidden;
}
.itd-header-img-wrap dt {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}
.itd-header-img-wrap dd {
  padding: 0.6rem 0.8rem;
}
.itd-header-img-wrap dd .itd-online-title {
  line-height: 0.72rem;
  font-size: 0.72rem;
  color: #000;
  font-weight: 700;
}
.itd-header-img-wrap dd .itd-online-name {
  margin: 0.4rem 0;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #666;
  font-weight: 700;
}
.itd-header-img-wrap dd .itd-online-money {
  line-height: 0.88rem;
  font-size: 0.48rem;
  color: #f85100;
  font-weight: 700;
}
.itd-header-img-wrap dd .itd-online-money .rmb {
  font-size: 0.88rem;
}
.itd-header-img-wrap dd .itd-online-time {
  margin-top: 0.2rem;
  font-size: 0.56rem;
  color: #999;
}
.itd-link-wrap {
  padding: 0.6rem 0.4rem;
  display: flex;
  justify-content: space-around;
}
.itd-link-wrap li {
  width: 2.4rem;
}
.itd-link-wrap img {
  width: 1.38rem;
  height: 1.38rem;
  margin: 0 auto;
}
.itd-link-wrap .itd-type {
  margin: 0.08rem 0;
  line-height: 0.92rem;
  font-size: 0.44rem;
}
.itd-link-wrap .itd-num {
  line-height: 0.72rem;
  color: #f85100;
}
.itd-link-wrap .itd-num span {
  font-size: 0.72rem;
}
.top-link-wrap {
  padding-top: 0.8rem !important;
  padding-bottom: 0.52rem !important;
}
.top-link-wrap img {
  width: 1.2rem !important;
  height: 1.2rem !important;
}
.top-link-wrap .itd-type {
  font-size: 0.56rem !important;
  color: #000!important;
}
.itd-top-banner {
  padding-top: 1rem;
}
.itd-top-banner a {
  display: block;
  height: 10rem !important;
}
/* 项目详情页 end */
/* 首页 start */
.back-btn {
  position: relative;
  width: 2.08rem;
  height: 1.76rem;
  background-image: url(../images/main/icon_return@3x.png);
  background-repeat: no-repeat;
  background-size: 0.56rem 0.98rem;
  background-position: 0.88rem 50%;
  left: 0;
  top: 0;
}
.layer-search-mask,
.common-search-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.i-layer-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.i-layer-search header {
  display: flex;
  align-items: center;
  height: 1.76rem;
}
.i-layer-search header form {
  position: relative;
  box-sizing: border-box;
  width: 12.12rem;
  height: 1.2rem;
  padding: 0 0.56rem 0 1.6rem;
  background: #f1f0f0;
  border-radius: 0.7rem;
  overflow: hidden;
}
.i-layer-search header form input {
  width: 100%;
  height: 1.2rem;
  font-size: 0.52rem;
  color: #999;
  background: #f1f0f0;
}
.i-layer-search .i-layer-search-wrap {
  padding: 0.82rem 0.8rem 0.6rem;
}
.i-layer-search .i-layer-search-wrap h3 {
  line-height: 0.68rem;
  font-size: 0.68rem;
  font-weight: 700;
  color: #000;
}
.i-layer-search .i-layer-search-wrap .i-hot-search-list {
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.i-layer-search .i-layer-search-wrap .i-hot-search-list a {
  display: block;
  width: 3.08rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  margin-top: 0.4rem;
  line-height: 1.12rem;
  font-size: 0.56rem;
  color: #666;
  text-align: center;
  background: #f7f7f7;
  border-radius: 0.56rem;
  overflow: hidden;
}
.i-layer-search .i-layer-search-wrap .i-hot-search-list a:active {
  color: #fff;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  background: -o-linear-gradient(right, #f85100, #fe8645);
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  background: linear-gradient(to right, #f85100, #fe8645);
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list {
  max-height: 12.96rem;
  min-height: 4rem;
  overflow-y: scroll;
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list a {
  box-sizing: border-box;
  display: block;
  padding: 0.78rem 0;
  min-height: 2.16rem;
  line-height: 0.6rem;
  font-size: 0.56rem;
  color: #666;
  border-bottom: 1px solid #f0f0f0;
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list a:active {
  color: #f85100;
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list li:last-child a {
  border-bottom: none;
}
header.i-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.76rem;
}
header.i-header .i-header-logo {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.8rem;
  background: #f1f0f0;
}
header.i-header .i-header-menu {
  box-sizing: border-box;
  width: 1.8rem;
  height: 1.76rem;
  padding-right: 0.8rem;
}
header.i-header .i-header-menu .i-icon-menu {
  display: block;
  width: 1.8rem;
  height: 1.76rem;
  background-image: url('../images/main/icon_more@3x.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1rem 0.78rem;
}
header.i-header .i-header-search {
  position: relative;
  box-sizing: border-box;
  width: 9.8rem;
  height: 1.2rem;
  padding: 0 0.56rem 0 1.6rem;
  background: #f1f0f0;
  border-radius: 0.7rem;
  overflow: hidden;
}
header.i-header .i-header-search input {
  width: 100%;
  height: 1.2rem;
  font-size: 0.52rem;
  color: #999;
  background: #f1f0f0;
}
.i-top-banner {
  overflow: hidden;
}
.i-top-banner a {
  width: 100%;
  height: 6.4rem;
}
.i-top-banner .swiper-container-horizontal > .swiper-pagination-bullets,
.i-top-banner .swiper-pagination-custom,
.i-top-banner .swiper-pagination-fraction {
  bottom: 0.4rem !important;
}
.i-top-banner .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.24rem !important;
  width: 0.32rem !important;
  height: 0.32rem !important;
  border-radius: 50%!important;
  background: #fff;
  opacity: 1;
}
.i-top-banner .swiper-pagination-bullet-active {
  background: url('../images/main/icon_circle@3x.png') no-repeat center !important;
  background-size: 0.32rem;
}
.i-link-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-content: space-around;
  height: 7.88rem;
  padding: 0.52rem 0;
}
.i-link-wrap .i-per-link {
  width: 2.2rem;
  padding: 0 0.4rem;
}
.i-link-wrap .i-per-link a {
  font-size: 0.52rem;
  color: #333;
}
.i-link-wrap .i-per-link a img {
  width: 100%;
  height: 1.6rem;
}
.i-link-wrap .i-per-link a span {
  height: 1.2rem;
  line-height: 1.2rem;
}
.i-news-lb-wrap {
  padding: 0.56rem 0.8rem 0.52rem;
}
.i-news-lb-wrap .i-news-box {
  padding-left: 1.28rem;
  height: 0.72rem;
  background: url("../images/main/icon_news@3x.png") no-repeat left center;
  background-size: 0.84rem 0.72rem;
}
.i-news-lb-wrap .i-news-box li,
.i-news-lb-wrap .i-news-box a {
  width: 90%;
  height: 0.72rem;
  line-height: 0.72rem;
  font-size: 0.56rem;
  color: #333;
}
.i-project-wrap {
  padding: 0 0.8rem 1rem;
}
.i-project-wrap .i-title {
  padding: 0.96rem 0 0.6rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.i-hot-project-content .i-hot-left {
  position: relative;
  width: 6.2rem;
  height: 9.4rem;
}
.i-hot-project-content .i-hot-left div {
  width: 6.2rem;
  height: 9.4rem;
}
.i-hot-project-content .i-hot-left i {
  position: absolute;
  top: 0;
  left: 0.4rem;
  width: 0.8rem;
  height: 0.94rem;
  background-image: url('../images/main/icon_label@3x.png');
  z-index: 1;
}
.i-hot-project-content .i-hot-left span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.4rem;
  line-height: 1.4rem;
  padding: 0 0.48rem;
  font-size: 0.6rem;
  font-weight: 700;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.i-hot-project-content .i-hot-right a {
  display: block;
  position: relative;
  width: 6.8rem;
  height: 3.44rem;
  margin-bottom: 0.4rem;
}
.i-hot-project-content .i-hot-right a span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 0.32rem;
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.48rem;
  font-weight: 700;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.i-hot-project-content .i-hot-right .i-hot-more {
  box-sizing: border-box;
  height: 1.72rem;
  line-height: 1.72rem;
  padding-left: 0.64rem;
  font-size: 0.56rem;
  color: #fefefe;
  margin-bottom: 0;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  background: -o-linear-gradient(right, #f85100, #fe8645);
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  background: linear-gradient(to right, #f85100, #fe8645);
}
.icon-hot-more {
  margin-left: 0.24rem;
  width: 0.38rem;
  height: 0.76rem;
  vertical-align: middle;
  background-image: url('../images/main/icon_project@3x.png');
  background-size: 0.38rem 0.66rem;
  background-position: top center;
}
.i-project-wrap .i-recommed-ul {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.i-project-wrap .i-recommed-ul > li {
  margin-bottom: 0.8rem;
}
.i-project-wrap .i-recommed-ul > li:nth-last-of-type(1),
.i-project-wrap .i-recommed-ul > li:nth-last-of-type(2) {
  margin-bottom: 0;
}
.i-project-wrap dl {
  width: 6.52rem;
}
.i-project-wrap dl dt {
  height: 4.32rem;
}
.i-project-wrap dl dd p.i-online-title {
  margin-top: 0.4rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #333;
  font-weight: 700;
}
.i-project-wrap dl dd p.i-online-name {
  margin-bottom: 0.12rem;
  line-height: 0.96rem;
  font-size: 0.48rem;
  font-weight: 700;
  color: #666;
}
.i-project-wrap dl dd p.i-online-desc {
  height: 0.72rem;
  font-weight: 700;
}
.i-project-wrap dl dd .i-online-money {
  display: inline-block;
  color: #f85100;
  font-size: 0.4rem;
}
.i-project-wrap dl dd .i-online-money .rmb {
  line-height: 0.72rem;
  font-size: 0.72rem;
}
.i-project-wrap dl dd .i-online-time {
  display: inline-block;
  width: 2.6rem;
  margin-top: 0.16rem;
  font-size: 0.44rem;
  color: #666;
  vertical-align: bottom;
}
.i-industry-news-wrap ul.i-industry-news-tabs,
.i-industry-news-wrap ul.i-industry-news-content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.8rem;
}
.i-industry-news-wrap .i-industry-news-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0.52rem;
}
.i-industry-news-wrap .i-industry-news-tabs li {
  box-sizing: border-box;
  width: 3rem;
  height: 1.9rem;
  line-height: 1.9rem;
  font-size: 0.6rem;
  font-weight: 700;
}
.i-industry-news-wrap dl {
  min-height: 3.04rem;
  padding: 0.6rem 0;
  border-bottom: 1px solid #f0f0f0;
}
.i-industry-news-wrap dt {
  width: 4.56rem;
  height: 3.04rem;
}
.i-industry-news-wrap dd {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 8.32rem;
  min-height: 3.04rem;
}
.i-industry-news-wrap dd p.i-online-title {
  line-height: 0.88rem;
  font-size: 0.64rem;
  color: #333;
  font-weight: 700;
}
.i-industry-news-wrap dd p.i-online-desc {
  height: 0.52rem;
}
.i-industry-news-wrap dd .i-online-editor {
  display: inline-block;
  width: 3.6rem;
  line-height: 0.52rem;
  font-size: 0.48rem;
  color: #7f7f7f;
}
.i-industry-news-wrap dd .i-news-time {
  display: inline-block;
  width: 4.68rem;
  font-size: 0.44rem;
  text-align: right;
  color: #999;
}
.i-industry-news-list {
  margin: 1rem 0 0.24rem;
}
.i-industry-news-list li {
  height: 0.56rem;
  margin-bottom: 0.66rem;
}
.i-industry-news-list li a {
  display: block;
  width: 100%;
  height: 0.56rem;
  padding-left: 0.54rem;
  background: url('../images/main/icon_circle@3x.png') no-repeat left center;
  background-size: 0.3rem;
}
.i-industry-news-list .i-news-title {
  width: 7.68rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  font-weight: 700;
}
.i-industry-news-list .i-news-time {
  width: 4.68rem;
  font-size: 0.44rem;
  text-align: right;
  color: #999;
}
.tabactive {
  color: #f85100;
  background: url('../images/main/icon_option@3x.png') no-repeat center bottom;
  background-size: 100% 0.12rem;
}
.i-foot-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2.6rem;
  font-size: 0.64rem;
  display: flex;
  align-items: center;
  z-index: 2;
}
.i-foot-fixed p {
  display: inline-block;
  width: 1px;
  height: 0.6rem;
  background: #d6d6d6;
}
.i-foot-fixed .i-tel-btn,
.i-foot-fixed .i-online-btn {
  box-sizing: border-box;
  padding: 0 0.6rem;
  width: 4.9rem;
  display: flex;
  align-items: center;
  color: #565554;
}
.i-foot-fixed .i-article-btn {
  line-height: 2.6rem;
  flex: 1;
}
.i-foot-fixed .i-tel-btn,
.i-foot-fixed .i-online-btn,
.i-foot-fixed .i-article-btn {
  height: 2.6rem;
  text-align: center;
}
.i-foot-fixed .i-icon-consultation {
  margin-right: 0.28rem;
  width: 0.8rem;
  height: 0.68rem;
  background-image: url('../images/main/icon_consultation@3x.png');
}
.i-foot-fixed .i-icon-tel {
  margin-right: 0.28rem;
  width: 0.64rem;
  height: 0.76rem;
  background-image: url('../images/main/icon_tel@3x.png');
}
.i-foot-fixed .itd-online-btn {
  border-left: 0.08rem solid #fff;
  border-right: 0.08rem solid #fff;
}
.i-foot-fixed .itd-tel-btn {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0.98rem;
  width: 6.44rem;
  height: 2.6rem;
  color: #fff;
  text-align: center;
}
.i-foot-fixed .itd-online-btn,
.i-foot-fixed .itd-article-btn {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.44rem 0;
}
.i-foot-fixed .itd-article-btn {
  width: 4.12rem;
  height: 2.6rem;
  color: #fff;
  text-align: center;
  flex: 1;
  background: -webkit-linear-gradient(left, #a978ff, #8847fd);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #a978ff, #8847fd);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #a978ff, #8847fd);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #a978ff, #8847fd);
  /* 标准的语法（必须放在最后） */
}
.i-foot-fixed .itd-online-btn {
  width: 4.28rem;
  height: 2.6rem;
  color: #fff;
  text-align: center;
  background: -webkit-linear-gradient(left, #ffb606, #ffcc00);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ffb606, #ffcc00);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ffb606, #ffcc00);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ffb606, #ffcc00);
  /* 标准的语法（必须放在最后） */
}
.i-foot-fixed .itd-icon-tel {
  margin-right: 0.28rem;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url('../images/main/tele@3x.png');
}
.i-foot-fixed .itd-icon-consultation {
  width: 0.74rem;
  height: 0.62rem;
  background-image: url('../images/main/icon_zx@3x.png');
}
.i-foot-fixed .itd-icon-article {
  width: 0.58rem;
  height: 0.66rem;
  background-image: url('../images/main/icon_zl@3x.png');
}
.icon {
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
/* 底部备案信息 */
footer {
  padding: 0.98rem 0 3.36rem;
  font-size: 0.48rem;
  color: #565554;
  background: #f7f7f7;
}
footer .footer-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
footer .footer-link-list a {
  width: 2.92rem;
  height: 0.52rem;
  line-height: 0.52rem;
}
footer .footer-link-list .footer-line {
  display: inline-block;
  vertical-align: top;
  height: 0.52rem;
  line-height: 0.52rem;
  color: #d6d6d6;
}
footer p {
  padding-left: 2rem;
  line-height: 0.52rem;
  margin-bottom: 0.2rem;
}
.line-clamp {
  position: relative;
  line-height: 1.4em;
  height: 2.8em;
  overflow: hidden;
}
.line-clamp:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #FFF;
  padding-left: 0.2em;
}
/*通用样式*/
.br-6 {
  border-radius: 0.2rem;
  overflow: hidden;
}
.o-h {
  overflow: hidden;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.text-ellip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}
.t-unl {
  text-decoration: underline;
}
.none {
  display: none;
}
/*通用样式*/
.word-br {
  word-break: break-all;
  word-wrap: break-word;
}
/*常用样式*/
.w-100 {
  width: 100%;
}
/*color*/
.bgcolor-fff {
  background-color: #fff;
}
.pb-30 {
  padding-bottom: 0.6rem;
}
.mt-30 {
  margin-top: 0.6rem !important;
}
.mb-30 {
  margin-bottom: 0.6rem;
}
/*margin*/
/*font-size*/
/*padding*/
/*input:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!*/
/*font-size:14px;color: #999;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*input::-moz-placeholder { !* Mozilla Firefox 19+ *!*/
/*font-size:14px;color: #999;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*input:-ms-input-placeholder { !* Internet Explorer 10+ *!*/
/*font-size:14px;color: #999;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea,::-webkit-input-placeholder { !* WebKit browsers *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea::-moz-placeholder { !* Mozilla Firefox 19+ *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea:-ms-input-placeholder { !* Internet Explorer 10+ *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*.placeholder{*/
/*font-size: 14px;*/
/*color: #999;*/
/*font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
