/* 独立样式 */
img {
  height: 100%;
}
.hei-100 {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.border-top {
  border-top: 1px solid #f0f0f0;
}
.itd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.76rem;
}
.itd-header .back-btn {
  width: 2.16rem;
  background-position: 0.8rem 50%;
}
.itd-header h2 {
  width: 60%;
  line-height: 1.76rem;
  font-size: 0.68rem;
  color: #333;
  text-align: center;
}
.itd-header .itd-header-search {
  width: 2.86rem;
  height: 1.76rem;
}
.itd-header .itd-header-search .itd-icon-search {
  display: inline-block;
  width: 2.86rem;
  height: 1.76rem;
  background: url('../images/main/icon_search_big@3x.png') no-repeat center;
  background-size: 1.1rem 1rem;
}
.itd-header-img-wrap .dl {
  width: 100%;
  height: 10rem;
}
.itd-header-img-wrap dd {
  padding: 0.6rem 0.8rem;
}
.itd-header-img-wrap dd .itd-online-title {
  line-height: 0.72rem;
  font-size: 0.72rem;
  color: #000;
  font-weight: 700;
}
.itd-header-img-wrap dd .itd-online-name {
  margin: 0.4rem 0;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #666;
  font-weight: 700;
}
.itd-header-img-wrap dd .itd-online-money {
  line-height: 0.88rem;
  font-size: 0.48rem;
  color: #f85100;
  font-weight: 700;
}
.itd-header-img-wrap dd .itd-online-money .rmb {
  font-size: 0.88rem;
}
.itd-header-img-wrap dd .itd-online-time {
  margin-top: 0.2rem;
  font-size: 0.56rem;
  color: #999;
}
.itd-link-wrap {
  padding: 0.6rem 0.4rem;
  display: flex;
  justify-content: space-around;
}
.itd-link-wrap li {
  width: 2.4rem;
}
.itd-link-wrap img {
  width: 1.38rem;
  height: 1.38rem;
  margin: 0 auto;
}
.itd-link-wrap .itd-type {
  margin: 0.08rem 0;
  line-height: 0.92rem;
  font-size: 0.44rem;
}
.itd-link-wrap .itd-num {
  line-height: 0.72rem;
  color: #f85100;
}
.itd-link-wrap .itd-num span {
  font-size: 0.72rem;
}
.back-btn {
  position: relative;
  width: 2.08rem;
  height: 1.76rem;
  background-image: url(../images/main/icon_return@3x.png);
  background-repeat: no-repeat;
  background-size: 0.56rem 0.98rem;
  background-position: 0.88rem 50%;
  left: 0;
  top: 0;
}
.layer-search-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
}
.i-layer-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.i-layer-search header {
  display: flex;
  align-items: center;
  height: 1.76rem;
}
.i-layer-search header form {
  position: relative;
  box-sizing: border-box;
  width: 12.12rem;
  height: 1.4rem;
  padding: 0 0.56rem 0 1.6rem;
  background: #f1f0f0;
  border-radius: 0.7rem;
  overflow: hidden;
}
.i-layer-search header form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.64rem;
  width: 0.6rem;
  height: 0.54rem;
  background-image: url('../images/main/icon_search@3x.png');
}
.i-layer-search header form input {
  width: 100%;
  height: 1.4rem;
  font-size: 0.52rem;
  color: #999;
  background: #f1f0f0;
}
.i-layer-search .i-layer-search-wrap {
  padding: 0.82rem 0.8rem 0.6rem;
}
.i-layer-search .i-layer-search-wrap h3 {
  line-height: 0.68rem;
  font-size: 0.68rem;
  color: #000;
}
.i-layer-search .i-layer-search-wrap .i-hot-search-list {
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.i-layer-search .i-layer-search-wrap .i-hot-search-list a {
  display: block;
  width: 3.06rem;
  margin-top: 0.4rem;
  line-height: 1.12rem;
  font-size: 0.56rem;
  color: #666;
  text-align: center;
  background: #f7f7f7;
  border-radius: 0.8rem;
  overflow: hidden;
}
.i-layer-search .i-layer-search-wrap .i-hot-search-list a:active {
  color: #fff;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f85100, #fe8645);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f85100, #fe8645);
  /* 标准的语法（必须放在最后） */
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list {
  max-height: 12.96rem;
  overflow-y: scroll;
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list a {
  box-sizing: border-box;
  display: block;
  padding: 0.78rem 0;
  min-height: 2.16rem;
  line-height: 0.6rem;
  font-size: 0.56rem;
  color: #666;
  border-bottom: 1px solid #f0f0f0;
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list a:active {
  color: #f85100;
}
.i-layer-search .i-layer-search-wrap .i-recently-search-list li:last-child a {
  border-bottom: none;
}
header.i-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.76rem;
  background: #fff;
}
header.i-header .i-header-logo {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.8rem;
  background: #f1f0f0;
}
header.i-header .i-header-menu {
  box-sizing: border-box;
  width: 1.8rem;
  height: 1.76rem;
  padding-right: 0.8rem;
}
header.i-header .i-header-menu .i-icon-menu {
  display: block;
  width: 1.8rem;
  height: 1.76rem;
  background-image: url('../images/main/icon_more@3x.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1rem 0.78rem;
}
header.i-header .i-header-search {
  position: relative;
  box-sizing: border-box;
  width: 9.8rem;
  height: 1.4rem;
  padding: 0 0.56rem 0 1.6rem;
  background: #f1f0f0;
  border-radius: 0.7rem;
  overflow: hidden;
}
header.i-header .i-header-search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.64rem;
  width: 0.6rem;
  height: 0.54rem;
  background-image: url('../images/main/icon_search@3x.png');
}
header.i-header .i-header-search input {
  width: 100%;
  height: 1.4rem;
  font-size: 0.52rem;
  color: #999;
  background: #f1f0f0;
}
.i-top-banner {
  overflow: hidden;
}
.i-top-banner a {
  width: 100%;
  height: 6.4rem;
}
.i-top-banner .swiper-container-horizontal > .swiper-pagination-bullets,
.i-top-banner .swiper-pagination-custom,
.i-top-banner .swiper-pagination-fraction {
  bottom: 0.4rem !important;
}
.i-top-banner .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.24rem !important;
  width: 0.32rem !important;
  height: 0.32rem !important;
  border-radius: 50%!important;
  background: #fff;
  opacity: 1;
}
.i-top-banner .swiper-pagination-bullet-active {
  background: url('../images/main/icon_circle@3x.png') no-repeat center !important;
  background-size: 0.32rem;
}
.i-link-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-content: space-around;
  height: 7.88rem;
}
.i-link-wrap .i-per-link {
  width: 2.2rem;
  padding: 0 0.4rem;
}
.i-link-wrap .i-per-link a {
  font-size: 0.52rem;
  color: #333;
}
.i-link-wrap .i-per-link a img {
  width: 100%;
  height: 1.6rem;
}
.i-link-wrap .i-per-link a span {
  height: 1.2rem;
  line-height: 1.2rem;
}
.i-news-lb-wrap {
  padding: 0.54rem 0.8rem;
}
.i-news-lb-wrap .i-news-box {
  padding-left: 1.28rem;
  height: 0.72rem;
  background: url("../images/main/icon_news@3x.png") no-repeat left center;
  background-size: 0.84rem 0.72rem;
}
.i-news-lb-wrap .i-news-box li {
  width: 90%;
  line-height: 0.72rem;
  font-size: 0.56rem;
  color: #333;
}
.i-project-wrap {
  padding: 0 0.8rem 1rem;
}
.i-project-wrap .i-title {
  padding: 0.96rem 0 0.6rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.i-hot-project-content .i-hot-left {
  position: relative;
  width: 6.2rem;
  height: 9.4rem;
}
.i-hot-project-content .i-hot-left div {
  width: 6.2rem;
  height: 9.4rem;
}
.i-hot-project-content .i-hot-left i {
  position: absolute;
  top: 0;
  left: 0.4rem;
  width: 0.8rem;
  height: 0.94rem;
  background-image: url('../images/main/icon_label@3x.png');
  z-index: 1;
}
.i-hot-project-content .i-hot-left span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.4rem;
  line-height: 1.4rem;
  padding: 0 0.48rem;
  font-size: 0.6rem;
  font-weight: 700;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.i-hot-project-content .i-hot-right a {
  display: block;
  position: relative;
  width: 6.8rem;
  height: 3.44rem;
  margin-bottom: 0.4rem;
}
.i-hot-project-content .i-hot-right a span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 0.32rem;
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.48rem;
  font-weight: 700;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.i-hot-project-content .i-hot-right .i-hot-more {
  box-sizing: border-box;
  height: 1.72rem;
  line-height: 1.72rem;
  padding-left: 0.64rem;
  font-size: 0.56rem;
  color: #fefefe;
  margin-bottom: 0;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f85100, #fe8645);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f85100, #fe8645);
  /* 标准的语法（必须放在最后） */
}
.i-hot-project-content .i-hot-right .i-hot-more .icon-hot-more {
  margin-left: 0.24rem;
  width: 0.38rem;
  height: 0.76rem;
  vertical-align: middle;
  background-image: url('../images/main/icon_project@3x.png');
  background-size: 0.38rem 0.66rem;
  background-position: top center;
}
.i-project-wrap .i-recommed-ul {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.i-project-wrap .i-recommed-ul li {
  margin-bottom: 0.8rem;
}
.i-project-wrap .i-recommed-ul li:nth-last-of-type(1),
.i-project-wrap .i-recommed-ul li:nth-last-of-type(2) {
  margin-bottom: 0;
}
.i-project-wrap dl {
  width: 6.52rem;
}
.i-project-wrap dl dt {
  height: 4.32rem;
}
.i-project-wrap dl dd p.i-online-title {
  margin-top: 0.4rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #333;
  font-weight: 700;
}
.i-project-wrap dl dd p.i-online-name {
  margin-bottom: 0.12rem;
  line-height: 0.96rem;
  font-size: 0.48rem;
  font-weight: 700;
  color: #666;
}
.i-project-wrap dl dd p.i-online-desc {
  height: 0.72rem;
  font-weight: 700;
}
.i-project-wrap dl dd .i-online-money {
  display: inline-block;
  color: #f85100;
  font-size: 0.4rem;
}
.i-project-wrap dl dd .i-online-money .rmb {
  line-height: 0.72rem;
  font-size: 0.72rem;
}
.i-project-wrap dl dd .i-online-time {
  display: inline-block;
  width: 2.6rem;
  margin-top: 0.16rem;
  font-size: 0.44rem;
  color: #666;
  vertical-align: bottom;
}
.i-industry-news-wrap ul.i-industry-news-tabs,
.i-industry-news-wrap ul.i-industry-news-content {
  padding: 0 0.8rem;
}
.i-industry-news-wrap .i-industry-news-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0.52rem;
}
.i-industry-news-wrap .i-industry-news-tabs li {
  box-sizing: border-box;
  width: 3rem;
  line-height: 1.9rem;
  font-size: 0.6rem;
  font-weight: 700;
}
.i-industry-news-wrap dl {
  min-height: 3.04rem;
  padding: 0.6rem 0;
  border-bottom: 1px solid #f0f0f0;
}
.i-industry-news-wrap dt {
  width: 4.56rem;
  height: 3.04rem;
}
.i-industry-news-wrap dd {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 8.32rem;
  min-height: 3.04rem;
}
.i-industry-news-wrap dd p.i-online-title {
  line-height: 0.88rem;
  font-size: 0.64rem;
  color: #333;
  font-weight: 700;
}
.i-industry-news-wrap dd p.i-online-desc {
  height: 0.52rem;
}
.i-industry-news-wrap dd .i-online-editor {
  display: inline-block;
  width: 3.6rem;
  line-height: 0.52rem;
  font-size: 0.48rem;
  color: #7f7f7f;
}
.i-industry-news-wrap dd .i-news-time {
  display: inline-block;
  width: 4.68rem;
  font-size: 0.44rem;
  color: #999;
}
.i-industry-news-list {
  margin: 1rem 0 0.24rem;
}
.i-industry-news-list li {
  height: 0.56rem;
  margin-bottom: 0.66rem;
}
.i-industry-news-list li a {
  display: block;
  width: 100%;
  height: 0.56rem;
  padding-left: 0.54rem;
  background: url('../images/main/icon_circle@3x.png') no-repeat left center;
  background-size: 0.3rem;
}
.i-industry-news-list .i-news-title {
  width: 7.68rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  font-weight: 700;
}
.i-industry-news-list .i-news-time {
  width: 4.68rem;
  font-size: 0.44rem;
  color: #999;
}
.tabactive {
  color: #f85100;
  background: url('../images/main/icon_option@3x.png') no-repeat center bottom;
  background-size: 100% 0.12rem;
}
.i-foot-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2.6rem;
  font-size: 0.64rem;
  display: flex;
  align-items: center;
}
.i-foot-fixed p {
  display: inline-block;
  width: 1px;
  height: 0.6rem;
  background: #d6d6d6;
}
.i-foot-fixed .tel-btn,
.i-foot-fixed .online-btn {
  box-sizing: border-box;
  padding: 0 0.6rem;
  width: 4.9rem;
  display: flex;
  align-items: center;
  color: #565554;
}
.i-foot-fixed .article-btn {
  line-height: 2.6rem;
  flex: 1;
  color: #fff;
  background: -webkit-linear-gradient(left, #f85100, #fe8645);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f85100, #fe8645);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f85100, #fe8645);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f85100, #fe8645);
  /* 标准的语法（必须放在最后） */
}
.i-foot-fixed .tel-btn,
.i-foot-fixed .online-btn,
.i-foot-fixed .article-btn {
  height: 2.6rem;
  text-align: center;
}
.i-foot-fixed .icon-consultation {
  margin-right: 0.28rem;
  width: 0.8rem;
  height: 0.68rem;
  background-image: url('../images/main/icon_consultation@3x.png');
}
.i-foot-fixed .icon-tel {
  margin-right: 0.28rem;
  width: 0.64rem;
  height: 0.76rem;
  background-image: url('../images/main/icon_tel@3x.png');
}
.icon {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
/* 底部备案信息 */
footer {
  padding: 0.98rem 0 0.76rem;
  margin-bottom: 2.6rem;
  font-size: 0.48rem;
  color: #565554;
  background: #f7f7f7;
}
footer .footer-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
footer .footer-link-list a {
  width: 2.92rem;
  height: 0.52rem;
  line-height: 0.52rem;
}
footer .footer-link-list .footer-line {
  display: inline-block;
  vertical-align: top;
  height: 0.52rem;
  line-height: 0.52rem;
  color: #d6d6d6;
}
footer p {
  padding-left: 2rem;
  line-height: 0.52rem;
  margin-bottom: 0.2rem;
}
.line-clamp {
  position: relative;
  line-height: 1.4em;
  height: 2.8em;
  overflow: hidden;
}
.line-clamp:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #FFF;
  padding-left: 0.2em;
}
/*通用样式*/
.br-6 {
  border-radius: 0.2rem;
  overflow: hidden;
}
.o-h {
  overflow: hidden;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.text-ellip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.t-unl {
  text-decoration: underline;
}
.none {
  display: none;
}
/*通用样式*/
.word-br {
  word-break: break-all;
  word-wrap: break-word;
}
/*常用样式*/
.w-100 {
  width: 100%;
}
/*color*/
.bgcolor-fff {
  background-color: #fff;
}
/*margin*/
/*font-size*/
/*padding*/
/*input:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!*/
/*font-size:14px;color: #999;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*input::-moz-placeholder { !* Mozilla Firefox 19+ *!*/
/*font-size:14px;color: #999;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*input:-ms-input-placeholder { !* Internet Explorer 10+ *!*/
/*font-size:14px;color: #999;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea,::-webkit-input-placeholder { !* WebKit browsers *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea::-moz-placeholder { !* Mozilla Firefox 19+ *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*textarea:-ms-input-placeholder { !* Internet Explorer 10+ *!*/
/*font-size:24px;color: #727272;font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
/*.placeholder{*/
/*font-size: 14px;*/
/*color: #999;*/
/*font-family: "\5FAE\8F6F\96C5\9ED1";*/
/*}*/
