@charset "utf-8";
/* 顶部样式 */
body {
  background-color: #f7f7f7;
  color: #666;
  font-size: 14px;
}
img {
  width: 100%;
  height: 100%;
}
.bgcolor-fff {
  background-color: #fff;
}
/* —————————————————————————————内容——————————————————————————————————————————————— */
.content-header-wrap {
  width: 1200px;
  margin: 30px auto;
  overflow: hidden;
}
.content-header {
  height: 516px;
}
.content-header .header-ranking-list {
  font-size: 0;
}
.content-header .header-ranking-list i {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  width: 24px;
  height: 60px;
  background-image: url('../images/icon/icon_network@3x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 18px;
}
.content-header .header-ranking-list h3 {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #333;
}
.text-ellip {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content-header-left {
  width: 360px;
}
.content-header-left .net-ranking-list {
  padding: 0 16px;
}
.net-ranking-content .net-ranking-top {
  height: 205px;
  background: url('../images/icon/bg_bwphb@3x.png') no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.net-ranking-content .net-ranking-top li {
  float: left;
}
.net-ranking-content .net-ranking-top li:nth-child(2) a {
  padding-left: 10px;
  padding-right: 10px;
}
.net-ranking-content .net-ranking-top li:nth-child(2) a dt {
  width: 90px;
  height: 60px;
}
.net-ranking-content .net-ranking-top li:nth-child(2) a dt i {
  width: 20px;
  height: 23px;
  background: url('../images/icon/icon_one_yl@3x.png') no-repeat center;
  background-size: 100% 100%;
}
.net-ranking-content .net-ranking-top li:nth-child(2) a dd {
  padding-top: 20px;
}
.net-ranking-content .net-ranking-top li:nth-child(2) a .brand-name {
  width: 96px;
}
.net-ranking-content .net-ranking-top li:nth-child(3) a dt i {
  background: url('../images/icon/icon_three_vl@3x.png') no-repeat center;
  background-size: 100% 100%;
}
.net-ranking-content .net-ranking-top a {
  float: left;
  padding: 20px 16px 19px;
  font-size: 0;
  color: #fff;
}
.net-ranking-content .net-ranking-top a dt {
  position: relative;
  width: 84px;
  height: 56px;
  border-radius: 5px;
  border: 3px solid #fff;
}
.net-ranking-content .net-ranking-top a dt img {
  border-radius: 5px;
}
.net-ranking-content .net-ranking-top a dt i {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: tra3fffnslateX(-50%);
  display: block;
  width: 16px;
  height: 19px;
  background: url('../images/icon/icon_two_bl@3x.png') no-repeat center;
  background-size: 100% 100%;
  border-radius: 50%;
  z-index: 1;
}
.net-ranking-content .net-ranking-top a dd {
  padding-top: 23px;
  font-size: 14px;
}
.net-ranking-content .net-ranking-top a .brand-name {
  width: 90px;
  font-weight: 700;
}
.net-ranking-content .net-ranking-top a .brand-num {
  line-height: 14px;
  margin-top: 7px;
  text-align: center;
}
.net-ranking-content .net-ranking-top a .brand-num span {
  display: inline-block;
  max-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.net-ranking-content .net-ranking-top a .brand-num i {
  display: inline-block;
  width: 10px;
  height: 14px;
  background: url('../images/icon/icon_rise_white@3x.png') no-repeat center;
  background-size: 100% 11px;
}
.net-ranking-content .net-ranking-top a .brand-num .icon-white-fail {
  background: url('../images/icon/icon_drop_white@3x.png') no-repeat center;
  background-size: 100% 11px;
}
.net-ranking-content .net-ranking-top a .brand-rmb {
  margin-top: 14px;
  width: 88px;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.net-ranking-content .net-ranking-bottom {
  padding: 9px 16px 10px;
  font-size: 0;
  overflow: hidden;
}
.net-ranking-content .net-ranking-bottom li {
  padding: 7px 0;
}
.net-ranking-content .net-ranking-bottom a {
  line-height: 18px;
  font-size: 14px;
  color: #666;
}
.net-ranking-content .net-ranking-bottom i,
.net-ranking-content .net-ranking-bottom span {
  display: inline-block;
  vertical-align: top;
}
.net-ranking-content .net-ranking-bottom i.sort {
  width: 18px;
  color: #fff;
  text-align: center;
  background: #999;
  border-radius: 50%;
}
.net-ranking-content .net-ranking-bottom .bt-brand-name {
  margin: 0 10px 0 14px;
  width: 110px;
}
.net-ranking-content .net-ranking-bottom .bt-brand-rmb {
  width: 85px;
  margin-right: 5px;
}
.net-ranking-content .net-ranking-bottom .bt-brand-rmb span {
  width: 70px;
  text-align: right;
}
.net-ranking-content .net-ranking-bottom .bt-brand-num {
  width: 70px;
  color: #999;
}
.net-ranking-content .net-ranking-bottom .bt-brand-num span {
  width: 50px;
  text-align: right;
}
.net-ranking-content .net-ranking-bottom .bt-brand-num i {
  margin-left: 6px;
  width: 14px;
  height: 16px;
  background: url('../images/icon/icon_rise_org@3x.png') no-repeat center;
  background-size: 100% 15px;
}
.net-ranking-content .net-ranking-bottom .bt-brand-num .icon-fail {
  background: url('../images/icon/icon_drop_gray@3x.png') no-repeat center;
  background-size: 100% 15px;
}
.rmb {
  font-size: 16px;
  color: #ff5909;
}
.content-header-middle {
  width: 408px;
  padding: 0 16px;
  margin: 0 20px;
}
.content-header-middle .today-ranking-list i {
  background-image: url('../images/icon/icon_oneday@3x.png');
}
.today-ranking-content .today-ranking-left {
  width: 195px;
  margin-right: 18px;
}
.today-ranking-content .today-ranking-left img {
  width: 195px;
  height: 429px;
}
.today-ranking-content .today-ranking-right {
  width: 195px;
}
.today-ranking-content .today-ranking-right a {
  display: block;
  margin-bottom: 20px;
}
.today-ranking-content .today-ranking-right img {
  width: 195px;
  height: 130px;
}
.content-header-right {
  width: 328px;
  padding: 0 16px;
}
.content-header-right .join-ranking-list i {
  background-image: url('../images/icon/icon_join@3x.png');
}
.join-ranking-content li {
  float: left;
}
.join-ranking-content li a {
  float: left;
  width: 84px;
  padding: 0 8px;
  margin: 0 14px 12px 0;
  line-height: 24px;
  font-size: 14px;
  color: #666;
  text-align: center;
  background: #f7f7f7;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.join-ranking-content li .active {
  color: #fff;
  background: #fb5000;
}
.join-ranking-content li:nth-child(3n) a {
  margin-right: 0;
}
.content-aside {
  width: 358px;
  border: 1px solid #ddd;
}
.weekend-top {
  height: 486px;
}
.brand-bottom {
  height: 740px;
}
/* 栏目 */
.big__wrapper {
  width: 100%;
  min-width: 1200px;
  background: #fff;
  padding: 60px 0 0px 0;
  box-sizing: border-box;
  margin: 50px 0;
  position: relative;
}
.big__wrapper .text__content,
.center-content {
  width: 1200px;
  margin: 0 auto;
  color: #666;
  font-size: 16px;
  line-height: 24px;
  /* padding: 0 20px; */
  box-sizing: border-box;
  position: relative;
}
.big__wrapper .btn__group {
  position: absolute;
  top: -85px;
}
.btn__item--orange {
  display: inline-block;
  vertical-align: middle;
  width: 144px;
  height: 60px;
  background: #FF5909 !important;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 16px;
}
.btn__item--defult {
  display: inline-block;
  vertical-align: middle;
  width: 144px;
  height: 60px;
  background: #DDDDDD;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 16px;
}
.big__wrapper .group__more {
  position: absolute;
  top: -50px;
  right: 0px;
}
.big__wrapper .img__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.big__wrapper .img__list .img__item {
  width: 288px;
  height: 280px;
  background: #fff;
  margin-bottom: 30px;
  margin-right: 16px;
}
.big__wrapper .img__list .img__item:nth-child(4n) {
  margin-right: 0;
}
.big__wrapper .img__list .img__item .img__item__box {
  width: 100%;
  height: 192px;
  overflow: hidden;
}
.big__wrapper .img__list .img__item .img__item__box img {
  width: 100%;
  height: 100%;
}
.big__wrapper .img__list .img__item .item__title {
  width: 100%;
  padding-left: 16px;
  margin-top: 20px;
  box-sizing: border-box;
}
.item__title_1 {
  color: #999;
  vertical-align: middle;
  font-size: 12px;
}
.item__title_2 {
  vertical-align: middle;
  color: #F85100;
  margin-left: 34px;
  font-weight: bold;
}
.big__wrapper .img__list .img__item .item__title__sub {
  font-size: 14px;
  margin-top: 5px;
}
.big__wrapper .img__list .img__item .item__title__sub .sub__icon {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 12px;
  background: url('../images/icon/icon_fire@3x.png') no-repeat;
  background-size: 100% 100%;
  margin-left: 16px;
}
.big__wrapper .img__list .img__item .item__title__sub .sub__text-orange {
  display: inline-block;
  vertical-align: middle;
  color: #FF5909;
  font-weight: bold;
}
.big__wrapper .img__list .img__item .item__title__sub .sub__text-grey {
  display: inline-block;
  vertical-align: middle;
  color: #999;
  font-size: 12px;
}
.big__wrapper .img__list .img__item .item__title__sub .sub__icon__pl {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 11px;
  background: url('../images/icon/icon_zx_gray@3x.png') no-repeat;
  background-size: 100% 100%;
  margin-left: 45px;
}
.big__wrapper .product__list__wrap {
  width: 822px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.big__wrapper .product__list__wrap li {
  width: 223px;
  height: 245px;
  margin-right: 20px;
  margin-bottom: 18px;
  font-size: 14px;
}
.big__wrapper .product__list__wrap li .product__img__box {
  width: 100%;
  height: 110px;
  overflow: hidden;
}
.big__wrapper .product__list__wrap li .product__img__box img {
  width: 100%;
  height: 100%;
}
.big__wrapper .product__list__wrap li .product__title {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  box-sizing: border-box;
}
.big__wrapper .product__list__wrap li .product__btn {
  display: inline-block;
  vertical-align: middle;
}
.big__wrapper .product__list__wrap li .product__btn .product__btn__font--orange {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 32px;
  border-radius: 20px;
  border: 1px solid #FF5909;
  color: #FF5909;
  text-align: center;
  line-height: 32px;
  margin-left: 35px;
  cursor: pointer;
}
.big__wrapper .product__list__wrap li .product__icon {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 14px;
  background: url('../images/icon/icon_sq@3x.png') no-repeat;
  background-size: 100% 100%;
}
.big__wrapper .product__list__wrap li .product__icon_1 {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 14px;
  background: url('../images/icon/icon_md_gray@3x.png') no-repeat;
  background-size: 100% 100%;
  margin-left: 40px;
}
/* ________________________________公用_____________________________________ */
.info__content {
  width: 100%;
}
.info__content:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.info__content {
  zoom: 1;
}
.info__content .info__content__left {
  float: left;
  width: 390px;
}
.info__content .info__content__left .info__content__left__item {
  margin-bottom: 15px;
}
.info__content .info__content__img__left {
  width: 100%;
  height: 260px;
  margin-top: 10px;
}
.info__content .info__content__img__left img {
  width: 100%;
  height: 100%;
}
.info__content .info__content__left__title {
  width: 100%;
  margin: 30px 0 14px 0;
}
.info__content .left__title__icon {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 16px;
  background: #FF5909;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  border-radius: 2px;
}
.info__content .left__title__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #333;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-indent: 14px;
}
.info__content .info__content__left__words {
  font-size: 14px;
  color: #999;
  letter-spacing: 2px;
  line-height: 25px;
}
.info__content .info__content__left__words .info__content__left__words--orange {
  color: #FF5909;
  cursor: pointer;
}
/* 中 */
.info__content .info__content__middle {
  float: left;
  width: 360px;
  margin-left: 50px;
}
.info__content .info__content__middle__title {
  width: 100%;
  margin: 20px 0 14px 0;
  position: relative;
}
.info__content .middle__title__icon {
  position: absolute;
  left: -35px;
  top: 5px;
  width: 38px;
  height: 16px;
  border-radius: 4px;
  color: #FF5909;
  border: 1px solid #FF5909;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
}
.info__content .middle__title__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #333;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-indent: 14px;
}
.info__content .info__content__middle__text__item {
  display: inline-block;
  vertical-align: middle;
  color: #999;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
}
.info__content .info__content__middle__text__item .info__content__middle__text__item__icon {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #999;
  border-radius: 50%;
}
.info__content .info__content__middle__text__item .info__content__middle__text__item__text {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-indent: 14px;
}
/* 右 */
.info__content__right__wrap {
  float: left;
  width: 360px;
  margin-left: 40px;
  position: relative;
  top: -50px;
}
.info__content__right__img__wrap {
  width: 100%;
  height: 240px;
  overflow: hidden;
  margin-bottom: 30px;
}
.hot-industry-right {
  width: 358px;
  border: 1px solid #ddd;
}
.hot-industry-right h2 {
  display: inline-block;
  padding: 20px 0 16px;
  margin-left: 16px;
  line-height: 18px;
  font-size: 18px;
  color: #000;
  border-bottom: 4px solid #FF5909;
}
.hot-industry-right ul {
  width: 328px;
  padding: 20px 15px;
  min-height: 180px;
}
.hot-industry-right ul li {
  float: left;
}
.hot-industry-right ul a {
  float: left;
  width: 60px;
  height: 40px;
  padding: 0 8px;
  margin-right: 8px;
  margin-bottom: 7px;
  line-height: 40px;
  color: #666;
  text-align: center;
  background: rgba(255, 89, 9, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}
.hot-industry-right ul li:nth-child(4n) a {
  margin-right: 0;
}
.hot-industry-right ul .active {
  background: #FF5909!important;
  color: #fff!important;
}
