
.header-top {
    width: 100%;
    height: 30px;
}

.header-top a {
    color: #333333;
}

.header-top .text-scroll {
    width: 253px;
    height: 30px;
    line-height: 30px;
    padding-left: 27px;
    overflow: hidden;
    position: relative;
}

.header-top .text-scroll .icon-news {
    width: 17px;
    height: 12px;
    background-image: url("/images/icon/icon_news.png");
}

.header-top .text-scroll .text-scroll-ul li {
    height: 30px;
    line-height: 30px;
}

.header-top .html-map {
    height: 30px;
    line-height: 30px;
}

.header-top .html-map a {
    font-size: 16px;
}

.header-wrapper {
    width: 100%;
    min-width: 1200px;
    background: #fff;
}

.header {
    height: 130px;

    overflow: visible;
    position: relative;

}

.header .header-logo {
    width: 232px;
    height: 71px;
    float: left;

}

.header .header-logo img {
    width: 232px;
    height: 71px;
    margin-top: 30px;
}

.header-search-wrapper {
    float: right;
    margin-top: 30px;
}

.header .header-search {
    width: 464px;
    float: left;

}

.header .header-search .header-searchbox {
    width: 464px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.header .header-search .header-searchbox .icon-text {
    width: 90px;
    height: 100%;
    background: #ff5909;
    position: absolute;
    left: 0px;
    text-align: center;
    color: #fff;
    line-height: 42px;

}

.header .header-search .header-searchbox input {
    font-size: 20px;
    color: #999999;
    width: 423px;
    height: 42px;
    padding-left: 90px;
    border: 2px solid #ff5909;
    border-right: none;
    box-sizing: border-box;
}

.header .header-search .header-searchbox input::-webkit-input-placeholder {
    font-size: 14px;
}

.header .header-search .header-searchbox .icon-search {
    width: 15px;
    height: 17px;
    left: 13px;
    background-image: url("../images/icon/icon_serch_white@3x.png");
    cursor: pointer;
}

.header .header-search .header-searchbox .btn-search {
    width: 42px;
    height: 42px;
    display: block;
    position: relative;
}

.header .header-search .header-searchbox .btn-search a {
    font-size: 20px;
}

.header .header-search .header-search-hot {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.header .header-search .header-search-hot ul {
    display: flex;
    align-items: center;
}

.header .header-search .header-search-hot ul li {
    float: left;
    margin: 0 7px;
}

.header .header-icon-list {
    height: 100px;
    float: left;
    margin-left: 60px;

}

.header .header-icon-list .header-icon-list-box {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.header .header-icon-list .header-icon-list-box .icon-img {
    width: 20px;
    height: 20px;
    margin: 0 auto;

}

.header .header-icon-list .header-icon-list-box .icon-text {
    font-size: 14px;
    color: #333333;
    margin-top: 5px;
}
