@charset "utf-8";
/* 顶部样式 */
body {
  background-color: #ffffff;
  background-color: lightblue;
}
.header-top {
  width: 100%;
  height: 30px;
}
.header-top a {
  color: #333333;
}
.header-top .text-scroll {
  width: 253px;
  height: 30px;
  line-height: 30px;
  padding-left: 27px;
  overflow: hidden;
  position: relative;
}
.header-top .text-scroll .icon-news {
  width: 17px;
  height: 12px;
  background-image: url("../images/icons/icon_news.png");
}
.header-top .text-scroll .text-scroll-ul li {
  height: 30px;
  line-height: 30px;
}
.header-top .html-map {
  height: 30px;
  line-height: 30px;
}
.header-top .html-map a {
  font-size: 16px;
}
.header {
  height: 130px;
  overflow: visible;
  position: relative;
}
.header .header-logo {
  width: 232px;
  height: 71px;
  transform: translate(0, -50%);
  position: absolute;
  left: 0;
  top: 50%;
}
.header .header-logo img {
  width: 232px;
  height: 71px;
}
.header .header-search {
  width: 464px;
  transform: translate(0, -50%);
  position: absolute;
  right: 0;
  top: 50%;
}
.header .header-search .header-searchbox {
  width: 464px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.header .header-search .header-searchbox input {
  font-size: 20px;
  color: #999999;
  width: 332px;
  height: 42px;
  padding-left: 47px;
  border: 2px solid #ff5909;
  border-right: none;
  box-sizing: border-box;
}
.header .header-search .header-searchbox .icon-search {
  width: 15px;
  height: 17px;
  left: 16px;
  background-image: url("../images/icons/icon_search.png");
}
.header .header-search .header-searchbox .btn-search {
  width: 132px;
  height: 42px;
  display: block;
  position: relative;
}
.header .header-search .header-searchbox .btn-search a {
  font-size: 20px;
}
.header .header-search .header-search-hot {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.header .header-search .header-search-hot ul {
  display: flex;
  align-items: center;
}
.header .header-search .header-search-hot ul li {
  float: left;
  margin: 0 7px;
}
.nav-list {
  width: 100%;
  height: 40px;
  background-color: #333333;
}
.nav-list a {
  font-size: 18px;
  color: #ffffff;
}
.nav-list dl {
  line-height: 40px;
}
.nav-list dl dt {
  float: left;
  font-size: 18px;
  color: #ffffff;
  width: 234px;
  height: 40px;
  margin-right: 28px;
  text-align: center;
  background-color: #ff5909;
  background-image: url("../images/icons/icon_fl.png");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 32px 50%;
}
.nav-list dl dd {
  float: left;
  width: 96px;
  text-align: center;
}
.nav-banner {
  width: 100%;
  position: relative;
  /* 广告位 */
  /* 手风琴 start */
  /* 手风琴end */
}
.nav-banner .banner-navlist {
  position: relative;
  background-color: pink;
  z-index: 3;
}
.nav-banner .banner-navlist .cate-menu {
  width: 234px;
  height: 432px;
  background-color: rgba(51, 51, 51, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item {
  height: 54px;
  line-height: 54px;
  padding-left: 74px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 34px 18px;
  background-size: 18px 20px;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:hover {
  background-color: #ffffff;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(1) {
  background-image: url("../images/icons/icon_zc.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(1):hover {
  background-image: url("../images/icons/icon_zc_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(1):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(2) {
  background-image: url("../images/icons/icon_yp.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(2):hover {
  background-image: url("../images/icons/icon_zc_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(2):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(3) {
  background-image: url("../images/icons/icon_xc.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(3):hover {
  background-image: url("../images/icons/icon_xc_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(3):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(4) {
  background-image: url("../images/icons/icon_td.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(4):hover {
  background-image: url("../images/icons/icon_td_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(4):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(5) {
  background-image: url("../images/icons/icon_xskc.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(5):hover {
  background-image: url("../images/icons/icon_xskc_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(5):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(6) {
  background-image: url("../images/icons/icon_hx.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(6):hover {
  background-image: url("../images/icons/icon_hx_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(6):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(7) {
  background-image: url("../images/icons/icon_kr.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(7):hover {
  background-image: url("../images/icons/icon_kr_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(7):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(8) {
  background-image: url("../images/icons/icon_hc.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(8):hover {
  background-image: url("../images/icons/icon_hc_black.png");
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item:nth-of-type(8):hover a {
  color: #333333;
}
.nav-banner .banner-navlist .cate-menu li.cate-menu-item a {
  font-size: 18px;
  color: #ffffff;
}
.nav-banner .banner-navlist .cate-pop {
  width: 546px;
  height: 432px;
  background-color: #ffffff;
  position: absolute;
  left: 234px;
  top: 0;
}
.nav-banner .banner-navlist .cate-pop .cate_pop_item {
  padding: 10px 0;
}
.nav-banner .banner-navlist .cate-pop .cate_pop_item li {
  float: left;
  padding: 10px 20px;
}
.nav-banner .banner-navlist .cate-pop .cate_pop_item li a {
  font-size: 16px;
  color: #666666;
}
.nav-banner .banner-navlist .cate-pop .cate_pop_item li:hover a,
.nav-banner .banner-navlist .cate-pop .cate_pop_item li.active a {
  color: #ff5909;
}
.nav-banner .banner-swiper {
  width: 100%;
  height: 432px;
  max-height: 1920px;
  margin: 0 auto;
  z-index: 2;
  /*.swiper-pagination2 {
		    width: 100%;
		    position: absolute;
		    bottom: 128px;
		    left: 0;
		    text-align: center;
		}*/
}
.nav-banner .banner-swiper .swiper-container1 {
  width: 100%;
  max-width: 1920px;
  height: 432px;
}
.nav-banner .banner-swiper a,
.nav-banner .banner-swiper img {
  width: 100%;
  height: 432px;
  max-width: 1920px;
  display: block;
}
.nav-banner .banner-swiper img {
  position: absolute;
}
.nav-banner .banner-ad {
  width: 952px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  right: 50%;
  margin-left: -350px;
  z-index: 100;
}
.nav-banner .banner-ad > ul {
  display: flex;
}
.nav-banner .banner-ad > ul > li {
  margin: 0 6px;
  float: left;
}
.nav-banner .banner-ad > ul > li,
.nav-banner .banner-ad > ul > li > a,
.nav-banner .banner-ad > ul > li > a > img {
  display: block;
  width: 228px;
  height: 152px;
  background-color: #ffffff;
}
.nav-banner .dh ul .curr {
  width: 826px;
}
.nav-banner .banner-ad-detail li .layer {
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background: #fff;
}
.nav-banner .banner-ad-detail li:nth-of-type(3) .layer {
  background-color: #f0f0f0;
}
.nav-banner .banner-ad-detail li:nth-of-type(4) .layer {
  background-color: #dddddd;
}
.nav-banner .dh ul .curr > div {
  display: none;
}
.nav-banner .banner-ad-detail {
  width: 952px;
  height: 152px;
  position: absolute;
  left: 50%;
  margin-left: -50%;
  bottom: 0;
  /* bottom: 144px; */
  z-index: 100;
  display: none;
}
.nav-banner .dh ul {
  position: absolute;
  overflow: hidden;
  width: 952px;
  height: 152px;
}
.nav-banner .dh ul li {
  float: left;
  width: 42px;
  overflow: hidden;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
}
.nav-banner .dh ul li > div {
  width: 42px;
}
.nav-banner .dh ul li > div > p {
  padding-top: 26px;
  width: 20px;
  font-weight: bold;
  margin: 0 auto;
  font-size: 16px;
  color: #666666;
  line-height: 20px;
  cursor: default;
}
.nav-banner .dh ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.nav-banner .dh ul li a > img {
  width: 100%;
  height: 100%;
}
.big-section .section-pub {
  margin: 78px auto 60px;
  height: 648px;
  padding-top: 70px;
  box-sizing: border-box;
}
.big-section .img-top {
  width: 1168px;
  height: 383px;
  margin: 0 auto;
  position: relative;
  background-color: lightgreen;
}
.big-section .img-top img {
  width: 1168px;
  height: 383px;
}
.big-section .img-top .bg-shade {
  width: 100%;
  height: 60px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
}
.big-section .img-top .bg-shade .name-counts {
  color: #ffffff;
  margin-right: 234px;
}
.big-section .img-top .bg-shade .name-counts .name {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
}
.big-section .img-top .bg-shade .name-counts .counts {
  font-size: 14px;
}
.big-section .img-top .bg-shade .btn-circle {
  color: #ffffff;
  background-color: #ff5909;
  transform: translate(0, -50%);
  top: 50%;
  left: auto;
  right: 24px;
}
.big-section .img-bottom {
  width: 1168px;
  margin: 20px auto 0;
}
.big-section .img-bottom img {
  width: 378px;
  height: 100px;
}
.big-section .img-bottom .item {
  float: left;
  width: 378px;
  height: 178px;
  margin-right: 16px;
  position: relative;
}
.big-section .img-bottom .item:nth-of-type(3) {
  margin-right: 0;
}
.big-section .img-bottom .item .bg-shade {
  width: 100%;
  position: relative;
}
.big-section .img-bottom .item .bg-shade .name-counts {
  color: #666666;
  margin-top: 20px;
}
.big-section .img-bottom .item .bg-shade .name-counts .name {
  font-size: 16px;
  margin-bottom: 4px;
}
.big-section .img-bottom .item .bg-shade .name-counts .counts {
  font-size: 14px;
}
.big-section .img-bottom .item .bg-shade .btn-circle {
  top: 0px;
  left: auto;
  right: 0;
}
.hots-section {
  height: 248px;
  padding-top: 70px;
}
.hots-section .swiper-container2 {
  width: 1174px;
  height: 148px;
  margin: 0 auto;
  background-color: #cccccc;
}
.recomend-section .section-pub {
  margin: 78px auto 60px;
  height: 648px;
}
.investment-section .section-pub {
  margin: 78px auto 60px;
  height: 648px;
}
.information-section {
  height: 248px;
}
.joining-section .section-pub {
  margin: 78px auto 60px;
  height: 648px;
}
.catering-section .section-pub {
  margin: 78px auto 60px;
  height: 648px;
}
.likes-section {
  height: 248px;
}
