/* 独立样式 */
header.i-header {
  display: flex;
  justify-content: space-between;
  height: 2.75rem;
  background: #fff;
}
header.i-header .i-header-logo {
  width: 2.5rem;
}
header.i-header .i-header-menu {
  width: 3rem;
  height: 2.75rem;
}
header.i-header .i-header-menu .i-icon-menu {
  width: 1rem;
  height: 2.75rem;
  background-image: url('../images/main/icon-menu.png');
}
.i-top-banner a {
  width: 100%;
  height: 15rem;
}
.i-per-link {
  width: 20%;
  height: 4.25rem;
}
.i-per-link a {
  height: 4.25rem;
}
.i-per-link a img {
  width: 100%;
  height: 3.5rem;
}
.i-per-link a span {
  height: 0.75rem;
}
.i-news-lb-wrap {
  padding: 0.5rem 1rem;
}
.i-news-lb-wrap .i-news-box {
  padding-left: 0.75rem;
  background: url("../images/main/icon-menu.png") no-repeat left center;
  background-size: 0.5rem;
}
.i-project-wrap {
  padding: 0 1rem;
}
.i-project-wrap .i-recommed-ul {
  display: flex;
  justify-content: space-between;
}
.i-project-wrap dl {
  width: 8.15rem;
}
.i-project-wrap dl dt {
  border-radius: 0.25rem;
}
.i-industry-news-wrap {
  padding: 0 1rem;
}
.i-news-title {
  width: 80%;
}
